:root {
  /* Font family */
  --font-title: var(--font-ibm-plex-sans), sans-serif;
  --font-body: var(--font-inter), sans-serif;

  /* Body font size */
  --text-2xs: 0.75rem;
  --text-xs: 0.875rem;
  --text-base: 1rem;
  --text-m: 1.125rem;
  --text-l: 1.5rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;

  /* Title font size */
  --title-2xs: 0.875rem;
  --title-xs: 1rem;
  --title-base: 1.125rem;
  --title-m: 1.5rem;
  --title-l: 2rem;
  --title-xl: 2.5rem;
  --title-2xl: 3rem;
  --title-3xl: 3.5rem;

  /* Colors */
  --slate-white: #FFFFFF;
  --slate-100: #FBFBFC;
  --slate-200: #F5F5F7;
  --slate-300: #ECEEF2;
  --slate-400: #E5E5EF;
  --slate-500: #CACAD5;
  --slate-600: #9999AB;
  --slate-700: #838392;
  --slate-800: #717182;
  --slate-800-transparent: rgba(113, 113, 130, 0.1);
  --slate-dark: #2a2a31;
  --velvet: #803CDA;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
