APP_ENV=development / production

DATABASE_URL="postgresql://yourUserName:yourPassword@localhostOrIpOrDomain:5432OrAnyPort/newsfoundry"
DATABASE_USER=yourUserName
DATABASE_PASSWORD=yourPassword
DATABASE=newsfoundry

FIRST_USER_EMAIL=yourFirstAccount@anything.hey
FIRST_USER_PASSWORD=1234

JWT_SECRET_KEY=superSecretKey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60