.input {
  padding: 0.5rem 0.75rem;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background-color: var(--slate-200);
  font-family: var(--inter);
  font-size: var(--text-xs);
  border-radius: 0.5rem;
}