.gridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 5.5em 1fr 2em 6em;
  grid-template-areas:
    "head-left head-right"
    "mid-left mid-right"
    "low-left mid-right"
    "low-left low-right";
  background-color: var(--slate-100);
}

.hLeft {
  grid-area: head-left;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--slate-400);
}

.hLeft svg {
  max-height: 1rem;
}

.hRight {
  grid-area: head-right;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 1.2rem 0 1.2rem;
  border-left: 1px solid var(--slate-400);
  border-bottom: 1px solid var(--slate-400);
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr;
  opacity: 1;
  overflow: hidden;
  transition:
    grid-template-columns 0.6s ease-out,
    opacity 0.5s ease-in;
}

.buttonWrapper.hidden {
  grid-template-columns: 0fr;
  opacity: 0;
}

.newConversationWrapper {
  margin-right: 5rem;
  transition:
    grid-template-columns 0.6s ease-out,
    opacity 0.5s ease-in,
    margin-right 0.3s ease-in-out;
}

.newConversationWrapper.hidden {
  margin-right: 0;
}

.controlButtonContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mLeft {
  grid-area: mid-left;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  overflow-y: auto;
}

.mRight {
  grid-area: mid-right;
  background-color: var(--slate-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 100%;
  padding: 2rem 6rem 0 6rem;
}

.messageContainer::after {
  content: "";
  min-height: 2rem;
  flex-shrink: 0;
}

.reviewMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2.5rem 5.6rem;
}

.reviewTitle {
  font-size: var(--title-m);
  color: var(--slate-dark);
}

.reviewHint {
  font-size: var(--text-base);
  color: var(--slate-800);
  margin-bottom: 0.6rem;
}

.lLeft {
  grid-area: low-left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

.lRight {
  grid-area: low-right;
  background-color: var(--slate-white);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 4.5rem;
}
